body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#name-form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    flex: 1;
    height: 400px;
    width: 50%;
}

#video-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

video {
    width: 200px;
    margin: 10px;
}
